OnlineEducation/bin
OnlineEducation/obj
OnlineEducation/Debug
OnlineEducation/Release
OnlineEducation/TestResults
OnlineEducation/Migrations
*.md
*.log


.vscode/
.vs/
.idea/


*.user
*.bak
*.suo


node_modules/

OnlineEducation/bin
OnlineEducation/obj/